:root {
  --navBar: #ffc107;
  --marroncito: #50380b94;
}

.Navb {
  background-color: rgba(255, 255, 255, 0.746) !important;
}

.white-link {
  padding: 0.5rem;
  border-radius: 35px;
  font-size: 25px;
  margin-right: 2rem;
  color: rgb(0, 0, 0);
}

.white-link:hover {
  box-shadow: 0px 0px 30px var(--marroncito);
  color: rgb(0, 0, 0);
}

.personita {
  font-size: 30px;
  margin: 0;
}

a {
  text-decoration: none !important;
}

.fondo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.titulo-centro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%;*/
  height: 50vh;
  color: rgba(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-centro :hover {
  box-shadow: 0px 0px 100px rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.titulo-centro h1 {
  background-color: rgba(0, 0, 0, 0.514);
  padding: 2rem;
  border-radius: 35px;
}

.titulo-medio {
  color: white;
  background-color: rgba(0, 0, 0, 0.515);
  padding: 2rem;
  border-radius: 35px;
}

.main {
  height: 100vh;
}

.btn {
  /* width: 60%; */
  padding: 1rem !important;
  border-radius: 35px !important;
}

.btn-warning {
  font-size: 1.5rem !important;
  color: black !important;
  font-weight: bold !important;
}

.btn-warning:hover {
  box-shadow: 0px 0px 10px white;
  color: white !important;
}

.Popular {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.822); 
  color: rgb(0, 0, 0);
  padding: 1rem;
  margin-bottom: 2rem;
}

.divCarousel {
  background-image: url(../src/assets/descarga.png);
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding: 0 !important;
}

.card-title {
  color: rgb(255, 255, 255);
  text-align: center;
  
  font-weight: bold !important;
  text-shadow: 2px 2px black;
  transition: 0.4s;
}

.card:hover .card-title {
  font-size: 30px;
  transition: 0.4s;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5% !important;
  padding: 0;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
  filter: invert(99%) sepia(1%) saturate(286%) hue-rotate(109deg) brightness(118%) contrast(100%)!important;
}
.carousel-control-next{
  right: -5rem!important;
  /*cambiar tamaño piquitos*/
 
}
.carousel-control-prev{
  left: -5rem!important;
 
}

.footer {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(
    165deg,
    #ffffff 0,
    #ffffff 16.67%,
    #ffffff 33.33%,
    #ffffff 50%,
    #e4efec 66.67%,
    #cee1d9 83.33%,
    #bbd4c8 100%
  );
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  width: 50px;
  height: 50px;
  color: #000000;
  margin: 1rem;
}

.icon-f {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.5s;
}

.icon-f:hover {
  box-shadow: 0px 0px 20px #50380b94;
}

.linkFooter {
  padding: 0.5rem;
  border-radius: 35px;
  font-size: 25px;
  margin-right: 2rem;
  color: black;
}

.linkFooter:hover {
  box-shadow: 0px 0px 30px var(--marroncito);
  color: black;
}

.redes {
  display: flex;
}
@media (max-width: 360px) {
  .card {
    height: 40vh;
  }

  .redes {
    display: block;
  }
  .linkFooter {
    font-size: 15px;
  }
  .padreLinks {
    display: flex;
    flex-direction: column;
  }

  .contacto {
    font-size: small;
  }

  .icon-f {
    width: 50px;
    height: 50px;
  }
  .titulo-medio {
    display: block !important;
  }
}
