:root {
  --navBar: #ffc107;
  --marroncito: #50380b94;
  --fondoClaro: #f0dca1;
}

.Navb {
  display: flex;
  justify-content: space-evenly;
  background-color: #ffc107 !important;
  box-shadow: 0px 0px 50px -24px rgba(0,0,0,1) inset;
}

.dropdown-menu {
  width: 20%!important;
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  margin: 0;
  font-size: 1rem;
  color: #ffffff!important;
  text-align: left;
  list-style: none;
  border:1px solid black;
  border-radius: 0!important;
}
.white-link {
  border-radius: 35px;
  font-size: 25px;
  margin-right: 2rem;
  margin-left: 2rem;
  color: rgb(255, 255, 255);
}

.welc{
  color:black;
}
.myt{
  width: 50%;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.white-link:hover {
    color: rgb(167, 110, 6);
}

.personita:hover{
  color: rgb(167, 110, 6)!important;
  border-radius:unset!important;
 

}

a {
  text-decoration: none !important;
}

.fondo {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.titulo-centro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  color: rgba(255, 255, 255);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-centro :hover {
  box-shadow: 0px 0px 75px var(--navBar);
  color: var(--navBar);
  text-shadow: 2px 2px black;
  transition: 0.3s;
}

.titulo-centro h1 {
  background-color: rgba(0, 0, 0, 0.514);
  padding: 2rem;
  border-radius: 35px;
}

.titulo-medio {
  color: white;
  background-color: rgba(0, 0, 0, 0.515);
  padding: 2rem;
  border-radius: 35px;
}

.main {
  height: 100vh;
}
.botonamarillo {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.btn {
  /* width: 100%; */
  padding: 1rem !important;
  border-radius: 35px !important;
}

.btn-warning {
  font-size: 1.5rem !important;
  color: black !important;
  font-weight: bold !important;
}

.btn-warning:hover {
  box-shadow: 0px 0px 10px white;
  color: white !important;
}

.Popular {
  font-size: 35px;
  font-weight:lighter;
  text-align: center;
  background-color: var(--navBar);
  color: rgb(255, 255, 255);
  padding: 3rem;
  margin-bottom: 6rem;
 
  box-shadow: 0px 0px 50px -24px rgba(0,0,0,1) inset;
}

/*slider*/
.contenedorSlider {
  /* background-color: #ffffff; */
  height: 100vh;
   background-image: linear-gradient(
    185deg,
    #e0d371 0,
    #e0d371 6.25%,
    #e0d371 12.5%,
    #e0d371 18.75%,
    #e0d371 25%,
    #e5c864 31.25%,
    #e9bb57 37.5%,
    #edad4b 43.75%,
    #ef9d41 50%,
    #f18c3a 56.25%,
    #f37b38 62.5%,
    #f56a3b 68.75%,
    #f61861 75%,
    #f61861 81.25%,
    #f61861 87.5%,
    #f61861 93.75%,
    #f30070 100%
  );
}

.slick-next:before,
.slick-prev:before {
  line-height: 1;
  opacity: 0.75;
  color: black;
}

.imgSlider {
  height: 40vh;
  width: 30vw;
  padding:0.2rem;
  background-color: var(--fondoClaro);
  
}

.card-title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold !important;
  text-shadow: 2px 2px black;
  transition: 0.4s;
}

.cardTitle2:hover{ 
background-color: rgba(255, 255, 255, 0.515);
 padding: 1rem;
 border-radius: 25px; 
}

.card:hover .card-title {
  font-size: 30px;
  transition: 0.4s;
    
}
 

.txt-description {
  opacity: 0;
  transition: 0.5s;
}

.card:hover .txt-description {
  transition: 0.6s!important;
  font-weight: bold;
  opacity: 1;
  color: white;
  background-color: rgba(0, 0, 0, 0.616);
  padding: 1rem;
  border-radius: 25px;
}

/*Footer*/
.footer {
  height: 30vh;
  width: 100%;
  background-image: linear-gradient(
    10deg,
    #ff6d56 0,
    #ff5862 12.5%,
    #ff416a 25%,
    #ff276f 37.5%,
    #f3006f 50%,
    #d3006d 62.5%,
    #b6006b 75%,
    #9b006a 87.5%,
    #840069 100%
  );
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0px 71px -24px rgba(0,0,0,1) inset;
}

.icon {
  width: 50px;
  height: 50px;
  color: #ffffff;
  margin: 1rem;
}

.icon-f {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: 0.5s;
}

.icon-f:hover {
  box-shadow: 0px 0px 20px #50380b94;
}

.linkFooter {
  padding: 0.5rem;
  border-radius: 35px;
  font-size: 25px;
  margin-right: 2rem;
  color: rgb(255, 255, 255);
}

.linkFooter:hover {
  box-shadow: 0px 0px 30px var(--marroncito);
  color: black;
}

.contacto {
  color: white;
}
.redes {
  display: flex;
}

@media (max-width: 1600px) {
  .contenedorSlider {
    height: 100%;
    padding-bottom: 2rem;
  }
  .tamañoCard {
    object-fit: cover !important;
    width: 100%;
    height: 25vh;
  }

  .cityFilter {
    width: 60%;
    padding: 0.5rem;
    border-radius: 25px;
    border: 2px var(--navBar) solid;
    background-color: rgba(255, 255, 255, 0.74);
    align-content: center;
    font-size: 1rem;
  }
}
@media (max-width: 900px) {
  .redes {
    display: block;
  }
  .linkFooter {
    font-size: 15px;
  }
  .padreLinks {
    display: flex;
    flex-direction: column;
  }

  .contacto {
    font-size: small;
  }

  .icon-f {
    width: 50px;
    height: 50px;
  }

  .div{
    display: flex;
    flex-direction: column;

  }

  .hashtag{
    display: flex;
    flex-direction: column;
   }

  .tag{
    margin:0!important;
  }
  
  label{
    margin:0.3rem;
    
  }

  input, select{
    width: 100%!important;
    border-radius: 10px;
    border: none;
    
  }

  
  .formulario{
    width: 90%!important;
   }

   .contenedorsignin, .contenedorsignup{
     display: flex;
     justify-content: center;
   }

}

@media (max-width: 480px){
  .white-link{
    font-size: 18px;
   margin-right: 1rem;
  margin-left: 1rem;
  border-radius: 15px;;
  
  }

 
  .navbar>.container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
  .welcome{
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 30px;
  }

  .container{
    margin-right: 0!important;
    
  }
}
@media (max-width: 425px) {
  .card:hover .txt-description {
    display: none;
  }


  
  

  .titulo-medio {
    color: white;
    background-color: rgba(0, 0, 0, 0.515);
    padding: 1rem;
    border-radius: 35px;
  }

  .findyourperfect h4 {
    font-size: 1rem;
  }

  .contenedorSlider {
    
    height: 100%;
    background-image: linear-gradient(
      185deg,
      #c5f3a6 0,
      #cded99 6.25%,
      #d4e68c 12.5%,
      #dadd7f 18.75%,
      #e0d371 25%,
      #e5c864 31.25%,
      #e9bb57 37.5%,
      #edad4b 43.75%,
      #ef9d41 50%,
      #f18c3a 56.25%,
      #f37b38 62.5%,
      #f56a3b 68.75%,
      #f75841 75%,
      #f8454a 81.25%,
      #f83055 87.5%,
      #f61861 93.75%,
      #f30070 100%
    ) 
  }

  .Cards {
    margin: 0 !important;
  }

  .cityFilter {
    width: 60%;
    padding: 0.5rem;
    border-radius: 25px;
    border: 2px var(--navBar) solid;
    background-color: rgba(255, 255, 255, 0.74);
    align-content: center;
    font-size: 1rem;
  }

  .cityFilter {
    width: 60% !important;
    padding: 0.5rem !important;
    font-size: 1rem !important;
  }
  .cityTitle {
    font-size: small !important;
  }
  .cardTitle2 {
    font-size: 30px !important;
  }
  .redes {
    display: block;
  }
  .linkFooter {
    font-size: 15px;
  }
  .padreLinks {
    display: flex;
    flex-direction: column;
  }

  .contacto {
    font-size: small;
  }

  .icon-f {
    width: 50px;
    height: 50px;
  }
}

/*Card*/
.headerCities {
  background-image: url(./assets/backmap.jpg);
  height: 60vh;
  width: 100%;  
  z-index: -10;
  background-size:cover;
  background-position: center;
  background-repeat:no-repeat;
}

.inputContenedor {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

input {
  box-shadow: 0px 0px 30px black;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.cityFilter {
  font-weight: lighter;
  width: 50%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 2px var(--navBar) solid;
  background-color: rgba(255, 255, 255, 0.74);
  align-content: center;
  text-align: center;
  font-size: 1.3rem;
}

.fondo-cards {
    padding: 1rem;
    background-image: linear-gradient(
    185deg,
    #e0d371 0,
    #e5c864 6.25%,
    #e9bb57  12.5%,
    #ffc107 18.75%,
    #e9bb57  25%,
    #edad4b  31.25%,
    #e9bb57 37.5%,
    #edad4b 43.75%,
    #ef9d41 50%,
    #f18c3a 56.25%,
    #f37b38 62.5%,
    #f56a3b 68.75%,
    #f75841 75%,
    #f8454a 81.25%,
    #f83055 87.5%,
    #f61861 93.75%,
    #f30070 100%
  )  
}

.fondo-cards h3 {
  font-weight: lighter;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 3px solid var(--marroncito);
}

.contenedorCards {
   align-content: center;
  padding: 2rem;
}

.tamañoCard {
  object-fit: cover;
  width: 80%;
  height: 35vh;
}

.Cards {
  margin: 2rem;
  box-shadow: 0px 0px 30px black;
  transform: scale(0.95);
  transition: 0.4s;
}
.Cards:hover {
  transform: scale(0.999);
}

/*paginaCity*/
.contenedorCard {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 100vh;
  background-color: white;
  background-image: linear-gradient(
    185deg,
    #c5f3a6 0,
    #cded99 6.25%,
    #d4e68c 12.5%,
    #dadd7f 18.75%,
    #e0d371 25%,
    #e5c864 31.25%,
    #e9bb57 37.5%,
    #edad4b 43.75%,
    #ef9d41 50%,
    #f18c3a 56.25%,
    #f37b38 62.5%,
    #f56a3b 68.75%,
    #f75841 75%,
    #f8454a 81.25%,
    #f83055 87.5%,
    #f61861 93.75%,
    #f30070 100%
  );
}

.itinerarioCard{
  display: flex; 
  align-self: center; 
  flex-direction: column;
  align-items: center;
  padding:1rem;
  margin:1rem;
  background-color: rgba(255, 255, 255, 0.774);
  width: 60vw;
  line-height-step: 40vh;
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 0px 0px 30px black;
}

.itinerarioCard h2{  
  border-bottom: 1px solid black;
  
}

.singleCard {
width: 150px;
height: 150px;
object-fit: cover;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  border: var(--navBar) solid 3px;
 
} 


.spinner{
  color:var(--navBar)!important;
  display: flex!important;
  justify-content: center!important;
  align-items:center;
  width: 50px;
  height: 50px;
}

.fondo-itinerario{
  min-height: 100vh;
  background-image: linear-gradient(
    185deg,
    #e0d371 0,
    #e0d371 6.25%,
    #e0d371 12.5%,
    #e0d371 18.75%,
    #e0d371 25%,
    #e5c864 31.25%,
    #e9bb57 37.5%,
    #edad4b 43.75%,
    #ef9d41 50%,
    #f18c3a 56.25%,
    #f37b38 62.5%,
    #f56a3b 68.75%,
    #f61861 75%,
    #f61861 81.25%,
    #f61861 87.5%,
    #f61861 93.75%,
    #f30070 100%
  )
}

.description{
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.479);
  color:rgb(0, 0, 0);
  /* text-shadow:  0.5px 0.5px rgb(255, 255, 255); */
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;

}

.back{
  z-index: -1;
}

.div{
  display:flex;
}
.minidiv{
  margin:0.5rem;
  display:flex;
  justify-content: space-evenly!important;
}

.tag{
  margin:0.5rem;
}

.hashtag{
  display:flex;
  justify-content:space-evenly;
}

.viewmore{
  margin-top:1rem;
  border-radius: 10px;
  background-color:var(--fondoClaro) ;
  color:rgb(0, 0, 0);  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display:flex;
  justify-content:center;
}

.viewmoree{
  padding:1rem;
  display:flex;
  flex-direction: column;
  align-items: center;
}
/*register*/
.botones{
  padding: 0.5rem;
  margin:1rem;
  border-radius: 10px;
  background-color:var(--fondoClaro) ;
  color:rgb(0, 0, 0);
  width: 10vw;
  height: 3rem;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
.contenedorsignin{
  height: 100vh;
  background-image: url(./assets/FondoSignUp.jpg);

}
.contenedorsignup{
  background-image: url(./assets/FondoSignUp.jpg);
  min-height: 100vh;
}
.formulario{  
  object-fit: cover;
  padding-top:6rem;  
  display: flex;
  justify-content: center;
  align-items:center;
 
}

.form{ 
  color:white;
  display: flex;    
  flex-direction: column;
  align-items: center;
  font-size: normal;
  box-shadow: 0px 0px 50px -24px rgba(0,0,0,1) inset;
  padding: 2rem;
  margin-bottom:1rem;
  backdrop-filter: blur(5px);

 }

label{
  margin:0.3rem;
  align-self: flex-start;
}

input, select{
  width: 30vw;
  border-radius: 10px;
  border: none;
  
}

.btn-form{
  margin-top:1rem!important;
  align-self: center;  
  
}

legend{
  font-weight: bolder;
  text-align:center;
}

.already{
  margin-top: 1rem;
  display:flex;
  justify-content:space-between;
}


.googlelogin{
  margin: 1rem;
  align-self: center;
}

.welcome{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  line-height: 30px;
}

.welcome2{
  display: flex;
  justify-content: space-evenly!important;
}
.account-img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%; 
  object-fit: cover;
  margin-left: 0.5rem;
  margin-right: 0.5rem;


}

